/* colori
#b0a0f0 viola
#f09550 arancio
#00c5ab verdino
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #b0a0f0;
}

menu,
a,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #f09550;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 20px;
}

.logo {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border-style: solid;
    border-width: 2px;
    border-color: #00c5ab;
    background-size: cover;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0 20px;
}

menu li a {
    transition: all .3s ease;
}

.menu a:hover {
    color: #fff;
    /* background-color: #00c5ab; */
        
}

button {
    padding: 9px 25px;
    background-color: #00c5ab;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover {
    background-color: #f09550;
    color: #fff;
}

.container{
    height: 100%vh;
    width: 100% vh;
}

.image{
    width: 100%;
    height: auto;
}
.second_section{

}