/* ! 
    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;
*/

body {
  background-color: fff;
  font-family: "Roboto", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

.header {
  border: 1px solid green;
  width: 100%;
  height: 20vh;
  background-color: purple;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {  
  border: 1px solid red;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 0.5em;
  color: white;
  text-align: center;
  transform: rotate(-10deg);
}

.menu {
  display: flex;
  flex: 2;
  border: 1px solid red;
  justify-content: flex-end;
}

.menu ul {
  display: flex;
  list-style: none;
  margin-right: 2em;
  border: 1px solid white;
}

.menu li {
  padding: 0 3em;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 3px solid purple;
  padding-bottom: 1.2em;
  transition: 0.4s;
}

.menu li a:hover {
  border-bottom: 3px solid #fff;
  padding-bottom: 0.3em;
}

.main {
  border: 1px solid yellow;
  background-color: #363636;
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main p,
h1 {
  border: 1px solid red;
  color: #fff;
  padding: 2rem;
}

.button {
  width: 10rem;
  padding: 1.2rem;
  border-radius: 0.25rem;
  background-color: greenyellow;
  cursor: pointer;
  margin: 0 auto;
  color: #000;
  font-weight: 500;
}

.button:hover {
  background-color: rgb(125, 199, 14);
}

.footer {
  border: 1px solid green;
  background-color: purple;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
